{% extends 'base/shop.html' %}
{% block username %}Sellit - @{{user.username}}{% endblock %}
{% block content %}
<div class="main-container">
    <div class="feedback-blocks-wrapper">
        {% for i in feedback %}
            <div class="feedback-block">
                <h3>Rating: {{i.rating}}</h3>
                <div class="feedback-content">
                    {{i.comment}}
                </div>
                <div class="feedback-date">
                    {{i.timestamp|timestamp_to_human}}
                </div>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}