{% extends 'base/shop.html' %}
{% block username %}Sellit - @{{user.username}}{% endblock %}
{% block content %}
    <div class="main-container feedback-wrapper">
        <form method="POST" action="{{url_for('shop.submit_feedback')}}">
            <div class="form-control">
                <label for="rating">
                    Rating
                </label>
                <div class="rating-wrapper">
                    <img id="1" src="{{url_for('static', filename='img/icons/star.svg')}}" width="20">
                    <img id="2" src="{{url_for('static', filename='img/icons/star.svg')}}" width="20">
                    <img id="3" src="{{url_for('static', filename='img/icons/star.svg')}}" width="20">
                    <img id="4" src="{{url_for('static', filename='img/icons/star.svg')}}" width="20">
                    <img id="5" src="{{url_for('static', filename='img/icons/star.svg')}}" width="20">
                </div>
            </div>
            <div class="form-control">
                <label for="comment">
                    Comment
                </label>
                {{form.comment}}
                {{form.csrf_token}}
            </div>
            
            {{form.rating(id="rating")}}
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
{% endblock %}