{% extends 'base/dashboard.html' %}
{% set active_page = 'attachments' %}
{% block title %}Attachments{% endblock %}
{% block content %}


<div class="dashboard-section-heading">
    <h2>Attachments</h2>
</div>
<div class="upload-attachment">
    <div class="attachment-upload-box">
        <img src="{{url_for('static', filename='img/icons/folder.svg')}}" height="35" width="35">
        <p>Drag & Drop your files</p>
    </div>
</div>
<div class="attachment-upload-form">
    <form method="POST" action="/attachments/upload" enctype="multipart/form-data">
        {{form.attachment_upload(onchange="uploadAttachment()")}}
        {{form.csrf_token}}
        <span id="membership-status" data-membership="{{user.membership.status}}"></span>
        <button type="submit" id="submit-attachment" style="display:none"></button>
    </form>
</div>

{% if attachments.items == [] %}
        <div class="not-yet-created">
                <h2>You currently have no Attachments! :( <br> Drag & Drop your attachment to get started</h2>
        </div>
{% else %}
    <div class="latest-table">
        <div class="table-wrapper">
            <table style="width:100%">
                <tr class="theader">
                    <th class="attachment-name-table">File</th>
                    <th class="attachment-name">Type</th>
                    <th class="attachment-actions">Actions</th>
                </tr>
                {% for item in attachments.items %}
                    <tr class="table-row">
                        <td>{{item.original_attachment_filename}}</td>
                        <td>{{item.attachment_type}}</td>
                        <td>
                            <div class="table-actions">
                                <a href="{{url_for('dashboard.download_attachment', attachment_id=item.id)}}">
                                    <p class="table-action-download">DOWNLOAD</p>
                                </a>
                                <a onclick="inProgress()" href="{{url_for('dashboard.remove_attachment', attachment_id=item.id)}}">
                                    <p class="table-action-delete">DELETE</p>
                                </a>
                            </div>
                        </td>
                    </tr>
                {% endfor %}
            </table>
        </div>  
        <div class="latest-table-view-all">
            {% for page_num in attachments.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
                <div class="pagination-numbers">
                    {% if page_num %}
                        {% if attachments.page == page_num %}
                            <a href="{{ url_for('dashboard.attachments', page=page_num)}}" class="active-pagination btn pagination-btn">
                                {{ page_num }}
                            </a>
                        {% else %}
                            <a href="{{ url_for('dashboard.attachments', page=page_num) }}" class="btn pagination-btn"> 
                                {{ page_num }}
                            </a>
                        {% endif %}
                    {% else %}
                    ...
                    {% endif %}
                </div>
                {% endfor %}
        </div>
        
        <p class="showing-of">
            {% if attachments.items != [] %}
                Showing page {{ attachments.page }} of {{ attachments.pages }}
            {% endif %}
        </p>
    </div>
{% endif %}

<span id="attachment-error"></span>
{% endblock %}