{% extends 'base/dashboard.html' %}
{% set active_page = 'orders' %}
{% block title %}Orders{% endblock %}
{% block content %}
<div class="dashboard-section-heading">
    <h2>Orders</h2>
</div>

<div class="latest-table">
    <div class="search-orders">
        <img src="{{url_for('static', filename='img/icons/search.svg')}}" width="15" height="15">
        <input type="text" placeholder="Search Orders...">
    </div>
    <div class="table-wrapper">
        <table style="width:100%">
            <tr class="theader">
                <th class="order-trans-id">Transaction ID</th>
                <th class="order-product-name">Product</th>
                <th class="order-total">Total</th>
                <th class="order-date">Timestamp</th>
                <th class="order-feedback">Feedback</th>
            </tr>
            {% for i in orders %}
                <tr class="table-row">
                    <td>{{i.id}}</td>
                    <td>{{i.product.name}}</td>
                    <td>{{user.settings.currency|currency_to_symbol}}{{i.price}}</td>
                    <td>{{i.purchase_date|int|timestamp_to_hours_minutes}}</td>
                    <td>
                        {% if i.feedback.rating %}
                            <div class="order-stars">
                                {% for f in range(i.feedback.rating) %}
                                    <img src="{{url_for('static', filename='img/icons/star.svg')}}" height="10" width="10">
                                {% endfor %}
                                
                            </div>
                            {% endif %}
                    </td>
                    <td>
                        <a href="{{url_for('dashboard.view_order', order_id=i.id)}}">
                            <img src="{{url_for('static', filename='img/icons/visibility.svg')}}" height="20" width="20">
                        </a>
                    </td>
                </tr>
            {% endfor %}
        </table>
    </div>  
        <div class="latest-table-view-all">
            <p class="showing-of">Show 10 of 98 Orders</p>
        </div>
</div>
{% endblock %}