{% extends 'base/dashboard.html' %}
{% set active_page = 'reviews' %}
{% block title %}Reviews{% endblock %}
{% block content %}
<div class="dashboard-section-heading">
    <h2>Reviews</h2>
</div>

<div class="latest-table">
    <div class="table-wrapper">
        <table style="width:100%">
            <tr class="theader">
                <th class="product-name-table">Customer</th>
                <th class="review-rating">Comment</th>
                <th class="product-name-sku">Rating</th>
                <th class="review-reply">Reply</th>
            </tr>
            {% for i in orders %}
                {% for f in i.feedback %}
                    {% if f.comment %}
                        <tr class="table-row">
                            <td>{{i.email}}</td>
                            <td>{{f.comment}}</td>
                            <td>
                                <div class="order-stars">
                                    
                                    {% for n in range(f.rating) %}
                                        <img src="{{url_for('static', filename='img/icons/star.svg')}}" height="10" width="10">
                                    {% endfor %}
                                </div>
                            </td>
                                <td>
                                    <button type="button" class="btn btn-primary">Reply</button>
                                </td>
                        </tr>
                    {% endif %}
                {% endfor %}
            {% endfor %}
        </table>
    </div>  
        <div class="latest-table-view-all">
            <p class="showing-of">Show 10 of 98 Reviews</p>
        </div>
</div>
{% endblock %}