{% extends 'base/dashboard.html' %}
{% set active_page = 'view ticket' %}
{% block title %}Ticket {{ticket.id}}{% endblock %}
{% block content %}
<div class="view-ticket-container">
    <div class="view-ticket-wrapper">
        <div class="ticket-header">
            <h4 id="ticket-id">Ticket {{ticket.id}}</h4>
        </div>
        <div class="ticket-information">
            <div class="customer-details">
                <h4 id="customr-email">
                    {{ticket.email}}
                </h4>
                <h4 id="ticket-subject">
                    {{ticket.subject}}
                </h4>
                <h4 id="ticket-created">
                    {{ticket.ticket_created_timestamp|timestamp_to_human}}
                </h4>
            </div>

            <div class="ticket-options">
                {% if ticket.status != 'Closed' %}
                    <a href="{{url_for('dashboard.close_open_ticket', ticket_id=ticket.id)}}">
                        <button type="button" class="btn btn-primary">
                            Close Ticket
                        </button>
                    </a>
                {% endif %}

                {% if ticket.status == 'Closed' %}
                <a href="{{url_for('dashboard.open_closed_ticket', ticket_id=ticket.id)}}">
                    <button type="button" class="btn btn-primary">
                        Open Ticket
                    </button>
                </a>
                {% endif %}
            </div>
        </div>

        <div class="ticket-messages">
            {% for item in ticket.ticket_message %}
                {% if item.message %}
                    <p class="customer-ticket-message">
                        {{item.message}}
                    </p>
                    <p class="message-timestamp">
                        {{item.message_timestamp|int|timestamp_to_hours_minutes}}
                    </p>
                {% endif %}

                {% if item.reply %}
                    <p class="seller-ticket-message">
                        {{item.reply}}
                    </p>
                    <p class="reply-timestamp">
                        {{item.reply_timestamp|int|timestamp_to_hours_minutes}}
                    </p>
                {% endif %}
            {% endfor %}
        </div>

        {% if ticket.status != 'Closed' %}
            <div class="reply-to-ticket">
                <form method="POST" action="/ticket/{{ticket.id}}/submit">
                    {{form.message}}
                    {{form.csrf_token}}
                    <button type="submit" class="btn-reply-to-ticket">Reply</button>
                </form>
            </div>
        {% endif %}
    </div>
</div>
{% endblock %}